.Item {
    width: 80%;
    height: 5rem;

    border-radius: 8px;

    -webkit-box-shadow: 3px 4px 8px 3px  rgb(0, 0, 0);
    -moz-box-shadow:    3px 4px 8px 3px rgb(0, 0, 0);  
    box-shadow:         3px 4px 8px 3px rgba(0, 0, 0, 0.349);

    padding: 15px;
    margin: 10px 0;
    background-color: #edf2ef;
    cursor: pointer;
    transition: all .2s ease;
}

.IncomeType {
    font-weight: 500;
    color: green;
}

.ExpenseType {
    font-weight: 500;
    color: red;
}

.Item:hover {
    transform: scale(1.04)
}

