.AddItemModal {

    width: 85%;
    height: 45%;

    padding: 25px;
    background-color: #edf2ef;
    border: 1px solid black;

    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-1000px);

    transition: all .3s ease;
    z-index: 99;
}

.Show {
    transform: translateY(-50%) translateX(-50%);
}

.AddItemModal form {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    height: 60vh;
}

.AddItemModal input, .AddItemModal input:focus {
   
    outline: none;
    border: none;
    border-radius: 5px;
}

.Button {
    margin-top: 1rem;
}

@media only screen and (min-height: 700px) {
    .AddItemModal {
        height: 40%;
    }
}